/* font */
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* tag reset */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
 }

body, h1, h2, h3, ul, li, p, button {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none; 
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit; 
}
    
button, input {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer; 
}
    
img {
    vertical-align: top; 
}

/* font class */
.bodoni {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라(신) */
    -ms-text-size-adjust : none;  /* IE */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
    -o-text-size-adjust : none;  /* 오페라(구)*/
}

.above {
    font-family: 'Above-the-Beyond', cursive;
    font-weight: 400;
}

.allura {
    font-family: 'Allura', cursive;
    font-weight: 400;
}

/* common class */
.float_r, .float_r {
    clear: both;
}
.float_r {
    float: right;
}
.float_l {
    float: left;
    /* direction: rtl */
}
.txt_l{
    text-align: left;
}
.txt_r{
    text-align: right;
}
    
.circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* common css */
html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #151515;
    background-color: #efefef;
    font-size: 16px;
}

section {
    display: block;
    background-color: #efefef;
    margin: 0;
    padding: 25px;
    text-align: center;
}

h1.above {
    font-size: 1.7em;
    font-weight: 400;
    color: #c950cf;
    margin: 30px 0;
}

h2{
    font-size: 2em;
    font-weight: 600;
}

/* main intro */
.wrap {
    /* position:fixed; */
  width:100%;
  height:100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch; /* 스크롤 바운스 방지 */
  
}

section.intro {
    position: relative;
    height: 100vh; 
    width: 100vw; 
    max-width: 430px;
    max-height: 800px;
    overflow: hidden;
    padding: 0;
    font-weight: 500;
    background: none;
}

.main_img {
    position: fixed;
    z-index: -1;
    height: 100%; 
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.main_img:after {
    content: '';
    display: block;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 430px;
    margin: 0 auto;
    background-image: url("https://github.com/user-attachments/assets/108d8d19-d436-4c18-a9ae-83ecdd7aef08");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /* background-attachment: fixed; */
    /* 아이폰에서 오류남 */
    background-color: rgba(255, 255, 255, 0.3);
}

/* adding vertical lines */
.title {
    /* display: inline-block; */
    zoom: 1;
    vertical-align: top;
    position: relative;
    /* padding: 150px 35px 0; */
    /* height: 100%; */
    /* width: 100%; */
    text-align: left;
    /* font-size: 40px; */
    line-height: 90%;
    margin: 0 auto;
}
.title:before, .title:after {
    content: '';
    display: block;
    border-left: 1px solid #151515;
    margin: 0 50px;
}
.title:before {
    /* top: 15px; */
    height: 15vh;
    margin-top: 30px;
}
.title:after { 
    /* bottom: 30px; */
    height: 42vh;
    /* border-bottom: 1px solid #151515; */
    /* width: 45vw; */
}

.title p {
    /* position: absolute; */
    /* top: 70px; */
    /* left: 30px; */
    /* width: 100%; */
    font-size: 12vw;
    margin-left: 33px;
}
.title span {
    font-size: 0.7em;
    line-height: 200%;
}

.intro .date {
    margin: 0 50px;
    position: relative;
    /* bottom: 15px; */
    /* right: 30px; */
    font-size: 1.8em;
    /* margin: 0; */
    /* width: 80%; */
    text-align: right;
    /* line-height: 170%; */
    height: 50px;
}
/* adding horizontal line */
.intro .date:before, .intro .date:after {
    display: inline-block;
    position: absolute;
}
.intro .date:before {
    content: '';
    width: 60%;
border-top: 1px solid #151515;
top: 0;left: 0;height: 100%;
    /* bottom: 15px; */
    /* left: 65px; */
    /* width: 55%; */
}
.intro .date:after {
    content: '09.14.24';
    width: 40%;
    top: -32px;right: 0;
}

/* sec2 info */
.info {
    background: none;
    padding: 0;  
    /* background-color: #2e2e2e; */
    /* color: #eee; */
}
.info .textbox {
    text-align: center;
    letter-spacing: 1px;
    padding: 50px 35px;
    /* box-shadow: 0 0 10px rgba(214, 158, 228, 0.5); */
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
    background-color: rgba(250, 250, 250, 0.6);
}
.info h2{margin: 5px 0;}
.info p {
    font-size: 1.2em;
    margin: 0;
}
.info p.info_date strong {
    padding-bottom: 30px;
}
.info p.info_date:after {
    content: "";
    display: block;
    width: 95%;
    margin: 30px auto;
    border-bottom: 1px solid #666;
}
/* .info p.place {
    margin-top: 25px;
} */

.greeting {
    font-family: 'RIDIBatang';
    /* text-align: left; */
    /* font-size: 1.15em; */
    padding: 30px 0 60px;
    background-color: #303030;
    color: #efefef;
    background-image: url("https://github.com/user-attachments/assets/534a3b1a-8f67-4244-bf08-0af0be1bcb22");
    background-position: bottom;
    background-size: cover;

}
/* .greeting:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
} */

.greeting h1{
    margin-bottom: 40px;
}
.greeting p {padding: 8px 0;}
.greeting .textbox{
    padding: 0 30px 25px;
    line-height: 1.7;
}
.greeting .en {font-size: 1.1em;}
.greeting .en span{
    color: #bcbcbc;
    font-style: italic;
}

/* calendar */
.cal{
    background-color: #f2f2f2;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

.calendar-container {
	position: relative;
	/* width: 80vw; */
    letter-spacing: 0;
    /* border: 0.5px solid #999; */
    /* padding: 30px 0 15px; */
    /* background-color: #eee; */
}

.cal-title{
    font-size: 2em;
    letter-spacing: 3px;
}

.day {
	font-size: 4em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 2em;
	line-height: 1em;
	text-transform: lowercase;
}

.calendar {
	/* background: #fff; */
	margin-top: 20px;
	color: #555;
	display: inline-block;
	/* padding: 1em; */
}

.calendar thead {
	color: #151515;
	font-weight: 700;
	/* text-transform: uppercase; */
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
.calendar thead td {
    padding: 5px 14px
}

.calendar td {
	padding: 1em 0.5em;
	text-align: center;
}

/* .calendar tbody td:hover {
	background: #cacaca;
	color: #fff;
} */

.calendar td.current-day {
    position: relative;
	/* color: #c950cf; */
    font-weight: 700;
    font-size: 1.4em;
    padding: 0;
}
.calendar td.current-day:before, .calendar td.current-day:after {
    display: inline-block;
    position: absolute;
    top: calc( 50% - 17px );
    left: calc( 50% - 17px );
    width: 35px;
    height: 35px;
}
.calendar td.current-day:before {
    content: "";
    background-color: #c950cf;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.calendar td.current-day:after{
    content: "14";
    line-height: 30px;
    color: #fff;
}

.prev-month,
.next-month {
	color: #cacaca;
}


/* countdown */
.container {
    color: #333;
    margin: 20px auto;
    text-align: center;
}

#countdown li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 0;
    margin-right: 0.5em; 
    width: 20%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.8em;
    color: #efefef;
    background-color: #787878;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#countdown li:last-child{
margin-right: 0;
}

#countdown li span {
display: block;
font-size: 1.5em;
}

.emoji {
display: none;
padding: 1rem;
}

.emoji span {
font-size: 4rem;
padding: 0 .5rem;
}
  
/* schedule */
.schedule {
    background-color: #303030;
    color: #efefef;

}
.schedule h2 {
    font-size: 1.1em;
    letter-spacing: 3px;
    font-weight: 400;
    color: #ddd;
}
.schedule p.bodoni {
    font-size: 1.2em;
    letter-spacing: 2px;
    color: #efefef;
    margin: 15px 0;
}

.timeline {
    width: 100%;
    padding: 0;
    margin: 15px auto;
    position: relative;
    overflow: hidden;
}
 
.timeline:before {
content: '';
position: absolute;
top: 0;
left: 50%;
margin-left: -1px;
width: 1px;
height: 100%;
background: #613c66;
z-index: 1
}


.timeline-block {
    position: relative;
    margin: 25px 0;
    padding: 10px 0;
/* -webkit-display: box; */
/* -webkit-display: flex; */
/* -moz-display: box; */
display: flex;
/* -webkit-box-pack: justify;
-webkit-justify-content: space-between;
-moz-box-pack: justify; */
justify-content: space-between;
clear: both;
width: 100%;
}

.marker {
    position: absolute;
    top: 35%;
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    border-radius: 50%;
/* border: 2px solid #F5F7FA; */
    background: #933c9e;
    z-index: 9999;
}

.timeline-content {
    width: 50%; 
    /* padding: 10px; */
    /* color: #999; */
}
.timeline-content.t_left {
    padding-right: 5px;
}
.timeline-content.t_right {
    padding-left: 30px;
    padding-top: 25px;
    text-align: left;
}

.timeline-content .icon {
    height: 60px;
    width: 60px;
    /* background-color: #787878; */
    margin: 0 auto;
}
.timeline-content span {
    display: block;
    font-size: 1.2em;
    letter-spacing: 1px;
    color: #eee;
    font-weight: 500;
}

.timeline-content h3 {
    text-transform: lowercase;
    letter-spacing: 0.5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.3em;
    font-weight: 400;
}

.timeline-content p {
    line-height: 1.3em;
    color: #cccc;
}

/* location */
.location {
    /* height: 90vh; */
    /* padding: 5x 0; */
    /* background-color: #aaa; */
}
.location .textbox {
    padding: 10px 0;
    font-size: 0.9em;
}
.location .textbox strong {
    display: block;
    margin: 10px 0;
}

#map{
    margin: 20px 0 50px;
    height: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* dresscode */
.dresscode {
    background-color: #303030;
    color: #efefef;
}
.dresscode p {
    font-family: "RIDIBatang";
    font-size: 1.4em;
    line-height: 1.2;
    margin: 10px 0 30px;
    /* font-weight: 600; */
}

/* RSVP */
.rsvp{
    padding-bottom: 80px;
}
.rsvp h2{
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 12px;
}
.rsvp p {
    padding: 10px 0;
    font-weight: 600;
}
.rsvp p.notice {
    font-size: 1.2em;
}

.rsvp p strong{
    display: inline-block;
    padding-left: 10px;
    font-size: 1.7em;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #f1ae48;
}

.rsvp a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 1.5em;
    /* font-weight: 600; */
    letter-spacing: 2px;
    color: #efefef;
    background-color: #303030;
    margin: 30px auto;
    box-shadow: 0 0 10px rgba(214, 158, 228, 0.5);
    border-radius: 40px;
}



/* 
모바일 화면 반응형 조정

그미만 -> 화면고정
320 이상-> 폰트 사이즈 줄이기 / 패딩 줄이기
375 이상 -> 기본값
425 이상 -> 바디 425픽셀 고정값으로  화면감싸기
*/



/* Mobile - small */
@media (max-width: 320px) {
    section {padding: 16px;}
    h1{font-size: 1.5em;}
}


/* Mobile - large */
@media (min-width: 430px) {
    .wrap {
        max-width: 430px;
        margin: 0 auto;
        /* -webkit-border-radius: 30px 30px 0 0;
        border-radius: 30px 30px 0 0; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    section.intro {
        width: 100%;
    }
    .title p {
        font-size: 58px;
    }
    .title.main_img{
        background-size: 100% auto;
        background-position: center;

    }
}


/* .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
} */

/* RSVP Modal */
/* .rsvp-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.rsvp-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */
